# Unit test / coverage reports
.pytest_cache/

# PyBuilder
target/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# this setup
.idea
/src/main/config/keys.json
/src/main/config/client_secret_484406734970-dt19vc7mqhoarp99q7gcmujt998fuo91.apps.googleusercontent.com.json
/.streamlit/secrets.toml
/src/main/config/credentials.json
*.pyc
/src/main/data/Expensify.xlsx
*.db
